<div class="container">

    <h1>Listado de libros</h1>
    <hr>

    {{#each books}}
    <p>- {{title}}
        <small>
            <a href="/libros/detalles/{{id}}">detalles</a> |
            <a href="/libros/editar?book_id={{id}}">editar</a>
        </small>
    </p>
    {{/each}}

</div>